@model IEnumerable<Customer>

@{
    ViewData["Title"] = "CustomerList";
}

<h2>Customers</h2>

<table class="table"
       data-search="true"
       data-show-columns="true"
       data-show-multi-sort="true">
    <thead>
        <tr>
            <th data-field="customerid" data-sortable="true">
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th data-field="fullname" data-sortable="true">
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th data-field="address">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th data-field="phone">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td id="@item.CustomerId">
                    <button class="btn btn-warning" id="editbtn"><i class="fa-solid fa-circle-info"></i></button>
                    <button class="btn btn-danger" id="deletebtn"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="showmodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(".table").on("click", "#deletebtn", function () {
            var id = $(this).closest("tr").find("td").eq(4).attr("id")
            $.ajax({
                url: "@Url.Action("DeleteCustomer", "Library")",
                data: { id: id },
                success: function (data) {
                    $("#showmodal .modal-dialog").html(data)
                    $("#showmodal").modal("show")
                }
            })
        })

        $(".table").on("click", "#editbtn", function () {
            var id = $(this).closest("tr").find("td").eq(4).attr("id")
            $.ajax({
                url: "@Url.Action("EditCustomer", "Library")",
                data: { id: id },
                success: function (data) {
                    $("#showmodal .modal-dialog").html(data)
                    $("#showmodal").modal("show")
                }
            })
        })
    </script>
}


