@model IEnumerable<Customer>

@{
    ViewData["Title"] = "CustomerList";
}

<h2>Customers</h2>

<table id="table"
       data-search="true"
       data-show-columns="true"
       data-show-multi-sort="true">
    <thead>
        <tr>
            <th data-field="customerid" data-sortable="true">
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th data-field="fullname" data-sortable="true">
                @Html.DisplayNameFor(model => model.FullName)
            </th>            
            <th data-field="address">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th data-field="phone">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <button class="btn btn-warning" asp-action="CustomerDetails" asp-route-id="@item.CustomerId">
                        <i class="fa-solid fa-circle-info"></i>
                    </button>
                    <a asp-action="DeleteCustomer" asp-route-id="@item.CustomerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



