@model IEnumerable<Loan>
@{
    ViewData["Title"] = "Index";
}



<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x=>x.Book.Title)
            </th>
            <th>
                Loaned by
            </th>
            <th>
                @Html.DisplayNameFor(x=>x.BookLoanDate)

            </th>
            <th>
                @Html.DisplayNameFor(x=>x.BookReturnDate)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Customer.FirstName) @Html.DisplayFor(x => item.Customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.BookLoanDate)

                </td>
                <td>
                    @Html.DisplayFor(x => item.BookReturnDate)

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LoanId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LoanId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LoanId">Delete</a>
                </td>
            </tr>
        }

    </tbody>


</table>

