@model IEnumerable<Loan>
@{
    ViewData["Title"] = "Index";
}

<h2>Loans</h2>

<table class="table"
       data-search="true"
       data-show-columns="true"
       data-show-multi-sort="true">
    <thead>
        <tr>
            <th data-field="title" data-sortable="true">
                @Html.DisplayNameFor(x=>x.Book.Title)
            </th>
            <th data-field="customerid" data-sortable="true">
                Loaned by
            </th>
            <th>
                @Html.DisplayNameFor(x=>x.BookLoanDate)
            </th>
            <th>
                To be returned at
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.BookLoanDate)

                </td>
                <td>
                    @Html.DisplayFor(x => item.BookReturnDate)
                </td>
                <td id="@item.LoanId">
                    <button class="btn btn-outline-danger" id="deletebtn">Return</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="showmodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
    </div>
</div>

@section scripts{
    <script>
        $(".table").on("click", "#deletebtn", function () {
            var id = $(this).closest("tr").find("td").eq(4).attr("id")
            $.ajax({
                url: "@Url.Action("DeleteLoan", "Library")",
                data: { id: id },
                success: function (data) {
                    $("#showmodal .modal-dialog").html(data)
                    $("#showmodal").modal("show")
                }
            })
        })

        $(document).ready(function () {

            $.toast({
                heading: 'Success!',
                text: 'Loan was deleted.',
                position: 'top-center',
                stack: false,
                bgColor: '#53c320',

            })

        })

    </script>
}

