@model Book


<div class="col-sm-4">
    <div class="card mb-3" style="max-width: 540px; min-height: 15rem;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Model.Thumbnail" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a asp-controller="Library" asp-action="BookDetails" asp-route-id="@Model.BookId">
                        <h6 class="card-title">@Model.Title</h6>
                    </a>
                    <p class="card-text">Category: @Model.Category</p>
                    <p class="card-text"><small class="text-muted">Books available:</small> @Model.Amount</p>
                </div>
            </div>

        </div>
    </div>
</div>


@*  <div class="card">
        <a data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="@Model.Thumbnail" class="card-img-top">
        </a>
        <div class="card-body">
            <h7 class="card-title">@Model.Title</h7>
        </div>
    </div>*@
@*</div>*@





@*<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")" asp-area="" asp-controller="Library" asp-action="Index">Loan list</a>*@